@media only screen and (max-width: 1200px) {
    .row {
        width: 100%;
        margin: 0% 2%;
    }

    .row2 {
        width: 100%;
        margin: 0% 2%;
    }

    .row3 {
        width: 100%;
        margin: 0% 2%;
    }

    header .row {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1023px) {
    .row, .row2, .row3 {
        width: 100%;
        margin: 2% 2%;
    }

    
    * { font-size: 14px; }
    section { margin: 8% 0%;}
    p {
    width: 100%;
    margin: 5% 0%; 
    }

}

@media only screen and (max-width: 767px) {
    
    .row, .row2, .row3 {
        width: 100%;
        margin: 2% 2%;
    }
    
    * { font-size: 12px; }
    section { margin: 6% 0%;}
    p {
    width: 100%;
    margin: 3% 0%; 
    }
}

@media only screen and (max-width: 480px) {
    .row, .row2, .row3 {
        width: 100%;
        margin: 2% 2%;
    }
    * { font-size: 10px; }
    section { margin: 4% 0%;}
    p {
    width: 100%;
    margin: 1% 0%; 
    }
}